/* Exemplo de classe Flexbox */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Exemplo de responsividade */
@media (min-width: 600px) {
  .flex-container {
    flex-direction: row;
  }
}

